<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style type="text/css">
		#tb{
			width: 800px;
			border-collapse: collapse;
			margin: 20px auto;
		}
		#tb th{
			background-color: #0094ff;
			color: white;
			font-size: 16px;
			padding: 5px;
			text-align: center;
			border: 1px solid black;
		}
		#tb td{
			padding: 5px;
			text-align: center;
			border: 1px solid black;
		}
	</style>
	<script type="text/javascript" src="../js/vue1026.js"></script>
</head>
<body>
	<div id="app">
		<input type="text" v-model="id">
		<input type="text" v-model="name">
		<button @click="addData">添加品牌</button>
		<table id="tb">
			<tr>
				<th>编号</th>
				<th>名称</th>
				<th>创建时间</th>
				<th>操作</th>
			</tr>
			<tr v-if="list.length == 0">
				<td colspan="4">当前列表无数据</td>
			</tr>
			<tr v-for="item in list">
				<td>{{item.id}}</td>
				<td>{{item.name}}</td>
				<td>{{item.ctime}}</td>
				<td>
					<a href="javascript:void(0)" @click="delData(item.id)">删除</a>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>
<script type="text/javascript">
	var vm = new Vue({
		el: "#app",
		data: {
			list: [
				{id:1, name:"奔驰", ctime: new Date},
				{id:2, name:"奥迪", ctime: new Date}
			],
			id: 0,
			name: '',
		},
		methods: {
			addData: function() {
				this.list.push({
					id: this.id,
					name: this.name,
					ctime: new Date,
				});

				this.id = 0;
				this.name = '';
			},
			delData: function(id) {
				if (!confirm('是否要删除数据?')) {
					return;
				}
				var index = this.list.findIndex(function(item){
					return item.id == id
				});
				this.list.splice(index, 1);
			}
		}
	});
</script>